<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">

    <!-- JQuery Import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Webpage Title -->
    <title>Hand-made dog snack</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        * {
            font-family: 'Nanum Pen Script', cursive
        }

        .picture-box {
            background-image: url("http://www.forest.go.kr/newkfsweb/cmm/fms/FileDown.do?atchFileId=FILE_000000010008639&fileSn=0");
        }

        .product {
            width: 400px;
            margin: auto
        }

        .product-text {
            width: 400px;
            margin: auto
        }

        .info {
            width: 400px;
            margin: auto
        }

        .button-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .picture-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>

    <script>

        $(document).ready(function () {
            $('#orderBox').html('');
            getOrder();
        });

        // $(document).ready(function () {
        //     $('#orderBox').html('');
        //     getOrder();
        // });

        function postOrder() {
            // 1. 주문자 이름, 수량, 주소, 전화번호를 가져옵니다.
            let name = $("#inputName").val();
            let qty = $("#inputGroupSelect01").val();
            let address = $("#inputAddress").val();
            let phone = $("#inputPhone").val();

            // 2. 주문자 이름, 수량, 주소, 전화번호 중 하나라도 입력하지 않았을 경우 alert를 띄웁니다.
            if (name === "") {
                alert("주문자 이름을 입력해주세요.");
                $("#inputName").focus();
                return;
            } else if (qty === "--수량을 선택하세요--") {
                alert("수량을 선택해주세요.");
                $("#inputGroupSelect01").focus();
                return;
            } else if (address === "") {
                alert("주소를 입력해주세요.");
                $("#inputAddress").focus();
                return;
            } else if (phone === "") {
                alert("전화번호를 입력해주세요.");
                $("#inputPhone").focus();
                return;
            }

            // 3. POST /orders 에 저장을 요청합니다.
            $.ajax({
                type: 'POST', // 타입을 작성합니다.
                url: '/orders', // url을 작성합니다.
                data: { outName: name, outQty: qty, outAddress: address, outPhone: phone }, // data를 작성합니다. },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        // $("#inputName").val("");
                        // $("#inputGroupSelect01").val("");
                        // $("#inputAddress").val("");
                        // $("#inputPhone").val("");
                        window.location.reload();
                    }
                }
            });
        }

        function getOrder() {
            // 1. 주문 목록을 서버에 요청하기
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    // 2. 요청 성공 여부 확인하기
                    if (response['result'] == 'success') {
                        let order = response["orders"];
                        // 3. 요청 성공했을 때 주문 목록을 올바르게 화면에 나타내기
                        for (let i = 0; i < order.length; i++) {
                            orderList(order[i]["name"], order[i]["qty"], order[i]["address"], order[i]["phone"]);
                        }
                    } else {
                        alert('주문정보를 받아오지 못했습니다');
                    }
                }
            });
        }

        function orderList(name, qty, address, phone) {
            let tempHtml = '<tr>\
                            <td>'+ name + '</td>\
                            <td>'+ qty + '</td>\
                            <td>'+ address + '</td>\
                            <td>'+ phone + '</td>\
                        </tr>';
            $('#orderBox').append(tempHtml);
        }

    </script>

</head>

<body>
    <div class="picture-image">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR_yVesSplOLwX1iLY7dLAh-8O8tlNHvBrhXPsXPUFBHyhRHLMx">
    </div>

    <div class="product">
        <h1 style="display: inline-block;">수제 댕댕이 간식</h1>&nbsp;
        <h4 style="display: inline-block; ">가격 : 10,000원 / 개</h4>
    </div>
    <div>
        <p class="product-text">영양가득! 맛은 일품! 노즈워크간식이에요:) 댕댕이들이 좋아하는 연어, 단호박, 고구마전분으로 구성된 영양 간식이에요! 장난감에 넣어주시면 맛있는
            냄새에 이끌려 장난감을 더욱 잘 가지고 놀고 작은 크기로 들어있어 훈련용 간식으로 안성맞춤인 수제 간식이에요! </p>
    </div>
    <p>
    </p>
    <div class="info">
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">주문자 이름</span>
            </div>
            <input id="inputName" type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">수량</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>--수량을 선택하세요--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">&nbsp;&nbsp;주소&nbsp;&nbsp;</span>
            </div>
            <input id="inputAddress" type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">전화번호</span>
            </div>
            <input id="inputPhone" type="text" class="form-control" aria-label="Small"
                aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="button-info">
            <button id="orderButton" type="button" class="btn btn-primary" onclick="postOrder()">주문하기</button>
        </div>
    </div>

    <div class="orders">
        <table class="table">
            <thead>
                <tr>
                    <th class="meta_info" scope="col">주문자 이름</th>
                    <th class="meta_info" scope="col">수량</th>
                    <th class="meta_info" scope="col">주소</th>
                    <th scope="col">전화번호</th>
                </tr>
            </thead>
            <tbody id="orderBox">
                <tr>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>